<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hello Jenkins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6CBEC191CE418F600F2E981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6CBEC321CE418F700F2E981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6CBEC3D1CE418F700F2E981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
